@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap');

body {
    background-color: #303030;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 1000px;
}

.container {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column; 
}

h1,
h2 {
    margin: 0;
}

/* APRESENTAÇÃO */

.apresentacao {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
}

.text {
    text-align: center; 
}

.text h1,
h2 {
    color: white;
    font-family: 'Inter', sans-serif;
}

.titulo {
    font-size: 120px; 
}

.subtitulo {
    font-size: 30px; 
    top: 0; 
    text-align: right;
}

.imagens {
    display: flex;
    justify-content: center; 
}

.imagens img {
    margin-top: 50px;
    width: 100%; 
    max-width: 322px; 
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    body {
        margin-top: 50px; 
    }

    .titulo {
        font-size: 60px; 
    }

    .subtitulo {
        font-size: 30px; 
    }
}


/* SOBRE */

.sobre {
    text-align: center;
    position: relative;
    display: flex;
   
}

.sobretexts {
    text-align: left;
    position: relative;
}

.titulosobre {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-top: 50px;
}

.sobretexts p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    margin-right: 100px; 
}

.foto img {
    margin-top: 150px; 
    width: 322px; 
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .sobre {
        align-items: center; 
        flex-direction: column; 
    }

    .sobretexts {
        margin: 0 20px; 
    }

    .titulosobre {
        margin: 20px;
    }

    .sobretexts p {
        margin: 20px;
        
    }

    .foto img {
        margin-top: 20px; 
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .sobre {
        align-items: center; 
        flex-direction: column; 
    }

    .sobretexts {
        margin: 20px
    }

    .titulosobre {
        margin: 50px;
    }

    .sobretexts p {
        margin: 50px;
        
    }

    .foto img {
        margin-top: 20px; 
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .sobre {
        align-items: center; 
        flex-direction: column; 
    }

    .sobretexts {
        margin: 20px
    }

    .titulosobre {
        margin: 50px;
    }

    .sobretexts p {
        margin: 50px;
        
    }

    .foto img {
        margin-top: 20px; 
    }
}


/* HABILIDADES */

.habilidades {
    margin-top: 80px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    
    align-items: center;
    padding: 20px;
}

.titulohabilidades {
    text-align: center;
    margin-bottom: 20px;
}

.titulohabilidades h1 {
    color: #303030;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%; 
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
}

.tecnologia {
    text-align: center;
    width: 150px;
    margin: 10px;
}

.tecnologia img {
    width: 60px;
}

.tecnologias p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}

/* Media Query para telas médias (por exemplo, tablets) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .linha {
        flex-direction: column;
        align-items: center;
    }

    .tecnologia {
        width: 80%; /* Ocupar 80% da largura disponível em telas médias */
    }
}

/* Media Query para telas pequenas (por exemplo, telefones celulares) */
@media screen and (max-width: 600px) {
    .tecnologia {
        width: 100%; /* Ocupar toda a largura disponível em telas pequenas */
    }
}


/* PROJETOS */

.projetos h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: left;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Permitir que os cartões se movam para a próxima linha em telas menores */
    justify-content: space-between;
}

.card1,
.card2,
.card3 {
    background-color: white;
    max-width: 100%; /* Ocupar a largura máxima disponível */
    height: 250px; /* Altura ajustada para um valor mais equilibrado */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px; /* Reduzido o espaçamento entre os cartões */
}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.05);
}

.esquerdo {
    text-align: left;
    padding: 20px; /* Adicionado preenchimento para melhor espaçamento interno */
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}

.esquerdo h1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #303030;
}

.esquerdo p {
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Ajustado tamanho da fonte para melhor legibilidade em telas menores */
    color: #303030;
}

.esquerdo img {
    width: 10%; /* Ajustado tamanho da imagem para telas menores */
}

.direito {
    width: 100%;
}

.fotosProjects {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .card1,
    .card2,
    .card3 {
        height: 100%; /* Ajustado altura para melhor proporção em telas menores */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .esquerdo {
        margin: 0px;
        padding-left: 50px;
    }

    .esquerdo h1 {
        font-size: 20px; /* Ajustado tamanho da fonte para telas menores */
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .esquerdo p {
        font-size: 16px; /* Ajustado tamanho da fonte para telas menores */
        justify-content: center;
        align-items: center;
    }

    .esquerdo img {
        width: 30px; /* Ajustado tamanho da imagem para telas menores */
    }
}



/* FOOTER */
.final {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    text-align: left;
}

.final h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: white;
}

.botoes {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 70px;
}

.linkedin {
    width: 75px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.github {
    width: 75px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.final p {
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: white;
}

.curriculo {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #303030;
}
